<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EMS</title>
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
        <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>-->
        <link
            href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css"
            rel="stylesheet">
        <link
            href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css"
            rel="stylesheet">
        <link rel="stylesheet" href="../css/cs-skin-elastic.css">
        <link rel="stylesheet"
            href="../css/lib/datatable/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="../css/all.min.css">
        <link rel="stylesheet" href="../css/fontawesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <style>
        #weatherWidget .currentDesc {
            color: #ffffff!important;
        }
        
        .traffic-chart {
            min-height: 335px;
        }
        
        #flotPie1 {
            height: 150px;
        }
        
        #flotPie1 td {
            padding: 3px;
        }
        
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        
        .chart-container {
            display: table;
            min-width: 270px;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        #flotLine5 {
            height: 105px;
        }
        
        #flotBarChart {
            height: 150px;
        }
        
        #cellPaiChart {
            height: 160px;
        }
    </style>
    </head>

    <body>
        <!-- Left Panel -->
        <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm navbar-default">
                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/manager"><i class="menu-icon fa
                                    fa-laptop"></i>Dashboard
                            </a>
                        </li>
                        <!-- /.menu-title -->
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> <i class="menu-icon fa
                                    fa-users"></i>Attendance</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><a href="/manager/attendance_log_manager">Attendance
                                        Log</a></li>

                            </ul>
                        </li>
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> <i class="menu-icon fa
                                    fa-tasks"></i>To Do</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><a href="/manager/All_Task_Manager">All Tasks</a></li>
                                <li><a href="/manager/Add_Task_Manager">Add Tasks</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> <i class="menu-icon fas
                                    fa-sign-out-alt"></i>Leave</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><a href="/manager/All_Request_Leave_Manager">All
                                        Requests</a></li>
                            </ul>
                            <li class="menu-item-has-children dropdown">
                                <a href="#" class="dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false"> <i class="menu-icon
                                        far fa-building"></i>Organization</a>
                                <ul class="sub-menu children dropdown-menu">
                                    <li><a href="/manager/EMP_Manager">My
                                            Employees</a></li>
                                </ul>
                            </li>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </aside>
        <!-- /#left-panel -->

        <!-- /#left-panel -->
        <!-- Right Panel -->
        <div id="right-panel" class="right-panel">
            <!-- Header-->
            <header id="header" class="header">
                <div class="top-left">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="./"><img
                                src="../images/logo1.jpg" alt="Logo"></a>
                        <a id="menuToggle" class="menutoggle"><i class="fa
                                fa-bars"></i></a>
                    </div>
                </div>
                <div class="top-right">
                    <div class="header-menu">
                        <div class="header-left" style="padding-top: 10px;">
                            <h5 style="font-weight: bold;"><%=nameManager%></h5>
                            <p><%=idManager%></p>
                        </div>

                        <div class="user-area dropdown float-right">
                            <a href="#" class="dropdown-toggle active"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <img class="user-avatar rounded-circle"
                                    src="../images/admin.jpg" alt="User Avatar">
                            </a>

                            <div class="user-menu dropdown-menu">
                                <a class="nav-link" href="/My_Profile"><i class="fa fa-
                                        user"></i>My Profile</a>
                                        <form action="/logout" method="POST">
                                            <button type="submit" style="border: none;background: none;font-size: 15px;padding-left: 12px;">
                                                <i class="fa fa-power -off"></i>Logout
                                            </button>
                                        </form>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
            <!-- /#header -->
            <!-- breadcrumbs -->
            <div class="breadcrumbs">
                <div class="breadcrumbs-inner">
                    <div class="row m-0">
                        <div class="col-sm-4">
                            <div class="page-header float-left">
                                <div class="page-title">
                                    <h1>My Employees</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="page-header float-right">
                                <div class="page-title">
                                    <ol class="breadcrumb text-right">
                                        <li><a href="/manager">Dashboard</a></li>
                                        <li class="active">My Employees</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#breadcrumbs -->
            
            <!-- Content -->
            <div class="content">
                <div class="animated fadeIn">
                    <!-- Add Employee -->
                    <div class="orders">
                        <div class="row">
                            <div class="col col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="box-title" style="display: inline;">Create Employees </h4>
                                        <p style="display: inline; margin-left: 15px;"><%= user[0].count %>/<%=user[0].balance%></p>
                                        <% let check="" %> 
                                        <%  if(user[0].count == 0) {
                                            check = "disabled";
                                        }else{ 
                                            check = " " 
                                        } %>   
                                        <% let check1="" %> 
                                        <%  if(user[0].balance == null) {
                                            check1 = "disabled";
                                        }else{ 
                                            check1 = " " 
                                        } %>     
                                    <form action="/manager/EMP_Manager" method="POST">
                                        <button type="submit" class="button-optinal button-optinal-create2 btn " name="CreateHRBtn" value="<%= idManager%>" <%=check%> <%=check1%> >Create HR</button>
                                        <button type="submit" class="button-optinal button-optinal-create btn " name="CreateEmpBtn" value="<%= idManager %>" <%= check%>  <%=check1%> >Create EMP</button>
                                        <button  class="button-optinal btn " onclick="myApp1.printTable()">Print Table</button>
                                    </form>

                                    </div>
                                    <div class="card-body--">
                                        <div class="table-stats order-table
                                            ov-h">
                                            <table class="table" id="bootstrap-data">
                                                <thead>
                                                    <tr>
                                                        <th class="serial">#</th>
                                                        <th>ID</th>
                                                        <th>Password</th>
                                                        <th>Type</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                        <%let counter=1%>
                                                        <%for(let empq of emp) {%>
                                                            <%if(empq.type == 'hr' || empq.type == 'employee'){%>
                                                        <tr>
                                                            <td><%=counter%>.</td>
                                                            <td><%=empq.ID%></td>
                                                            <td><%=empq.password%></td>
                                                            <td><%=empq.type%></td>
                                                            <form action="/manager/EMP_Manager" method="POST">
                                                            <td><button type="submit" style="background: none; border: none;" class="font-trash" name="deleteManagerBtn" value="<%=empq._id%>"><i class="fas fa-trash-alt"></i></button></td>
                                                            </form>
                                                        </tr>
                                                        <%}%>
                                                        <%counter=counter+1%>
                                                        <%}%>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-stats -->
                                    </div>
                                </div>
                    </div>
                    </div>
                </div>
                    <!-- End Add Emplyee -->
                    <!-- Orders -->
                    <div class="orders">
                        <div class="row">
                            <div class="col col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="box-title">My Employees </h4>
                                        <button id="print" class="button-optinal btn " onclick="myApp.printTable()">Print Table</button>

                                    </div>
                                    <div class="card-body--">
                                        <div class="table-stats order-table
                                            ov-h">
                                            <table class="table" id="bootstrap-data-table">
                                                <thead>
                                                    <tr>
                                                        <th class="serial">#</th>
                                                        <th class="avatar">Avatar</th>
                                                        <th>ID</th>
                                                        <th>Name</th>
                                                        <th>Work Email</th>
                                                        <th>Phone Number</th>
                                                        <th>Birth Date</th>
                                                        <th>Address</th>
                                                        <th>Type</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%let counter1 = 1%>
                                                    <%for (let myEmp1 of myEmp) {%>
                                                    <tr>
                                                        <td class="serial"><%=counter1%>.</td>
                                                        <td class="avatar">
                                                            <div
                                                                class="round-img">
                                                                <a href="#"><img
                                                                        class="rounded-circle"
                                                                        src="/images/avatar/2.jpg"
                                                                        alt=""></a>
                                                            </div>
                                                        </td>
                                                        <td> <%=myEmp1.ID%> </td>
                                                        <td> <span class="name"><%=myEmp1.name%>
                                                                </span>
                                                        </td>
                                                        <td> <span
                                                                class="product"><%=myEmp1.email%></span>
                                                        </td>
                                                        <td><span class="count"><%=myEmp1.phone%></span></td>
                                                        <td>
                                                            <span class=""><%=myEmp1.birthDate%></span>
                                                        </td>
                                                        <td>
                                                            <span class=""><%=myEmp1.address%></span>
                                                        </td>
                                                        <td>
                                                            <span class=""><%=myEmp1.type%></span>
                                                        </td>
                                                        
                                                        
                                                            <td><button data-toggle="modal" data-target="#update-modal1-manager"type="submit" style="background: none; border: none;" class="font-trash" name="deleteEmpManagerBtn" value="<%=myEmp1._id%>" onclick="updateButtonDelete(this)"><i class="fas fa-trash-alt"></i></button></td>
                                                            
                                                    </tr>
                                                    <%counter1=counter1+1%>
                                                    <%}%>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-stats -->
                                    </div>
                                </div>
                    </div>
                    </div>
                </div>
                    <!-- .animated -->
                </div>
                <!-- /.content -->
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- model -->
        <div class="interview-Event">
            <div class="modal fade" id="update-modal1-manager" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content"> 
                        <div class="modal-header"> 
                            <h5 class="modal-title" id="exampleModalLabel"> Delete Employee</h5> 
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                                <span aria-hidden="true">&times;</span> 
                            </button> 
                        </div> 
                        <form action="/manager/EMP_Manager" method="POST"> 
                            <div class="modal-body"> 
                                <h5 style="font-weight: bold;">Are you sure to delete this Employee..?</h5> 
                                </div><div class="modal-footer"> 
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" name="cancelDeleteBtn">Cancel</button> 
                                    <button type="submit" class="btn btn-primary" id="sureDeleteBtn"  name="sureDeleteBtn">Sure</button>
                            </div>
                        </form>
                        </div>
                        </div>
                        </div>
                        </div>
        <!-- /#right-panel -->
        <!-- Scripts -->
        <script
            src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
        <script src="../js/dashboard.js"></script>
        <script src="../js/main.js"></script>
        <script>
            var myApp = new function () {
                this.printTable = function () {
                var tab = document.getElementById('bootstrap-data-table');

                var style = "<style>";
                    style = style + "table {width: 100%;font: 17px Calibri;}";
                    style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
                    style = style + "padding: 2px 3px;text-align: center;}";
                    style = style + "</style>";

                var win = window.open();
                win.document.write(style);          //  add the style.
                win.document.write(tab.outerHTML);
                win.document.close();
                win.print();
            }
        }
        var myApp1 = new function () {
                this.printTable = function () {
                var tab = document.getElementById('bootstrap-data');

                var style = "<style>";
                    style = style + "table {width: 100%;font: 17px Calibri;}";
                    style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
                    style = style + "padding: 2px 3px;text-align: center;}";
                    style = style + "</style>";

                var win = window.open();
                win.document.write(style);          //  add the style.
                win.document.write(tab.outerHTML);
                win.document.close();
                win.print();
            }
        }
        function updateButtonDelete(el){
            console.log(jQuery(el).val());
            jQuery('#sureDeleteBtn').val(jQuery(el).val())
        }
        </script>
    </body>

</html>