<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EMS</title>
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
        <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>-->
        <link
            href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css"
            rel="stylesheet">
        <link
            href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css"
            rel="stylesheet">
        <link rel="stylesheet" href="./css/cs-skin-elastic.css">
        <link rel="stylesheet"
            href="./css/lib/datatable/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="./css/all.min.css">
        <link rel="stylesheet" href="./css/fontawesome.min.css">
        <link rel="stylesheet" href="./css/celander.css">
        <link rel="stylesheet" href="./css/style.css">
        <style>
        #weatherWidget .currentDesc {
            color: #ffffff!important;
        }
        
        .traffic-chart {
            min-height: 335px;
        }
        
        #flotPie1 {
            height: 150px;
        }
        
        #flotPie1 td {
            padding: 3px;
        }
        
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        
        .chart-container {
            display: table;
            min-width: 270px;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        #flotLine5 {
            height: 105px;
        }
        
        #flotBarChart {
            height: 150px;
        }
        
        #cellPaiChart {
            height: 160px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body>
        <!-- Left Panel -->
        <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm navbar-default">
                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/HR"><i class="menu-icon fa fa-laptop"></i>Dashboard
                            </a>
                        </li>
                        <!-- /.menu-title -->
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> <i class="menu-icon fa
                                    fa-users"></i>Attendance</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><a href="/HR/Attendance_Log_HR">Attendance Log</a></li>
                                <li><a href="/HR/My_Attendance_HR">My Attendance</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> <i class="menu-icon fa
                                    fa-tasks"></i>To Do</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><a href="/HR/All_Task_HR">All Tasks</a></li>
                                <li><a href="/HR/My_Task_HR">My Tasks</a></li>
                                <li><a href="/HR/Add_Task_HR">Add Task</a></li>

                            </ul>
                        </li>
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> <i class="menu-icon fas
                                    fa-sign-out-alt"></i>Leave</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><a href="/HR/All_Requests_leave_HR">All
                                        Requests</a></li>
                                <li><a href="/HR/My_Request_Leave_HR">My
                                        Requests</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> <i class="menu-icon
                                    far fa-building"></i>Organization</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li>
                                    <a href="/HR/emp" >My
                                        Employees</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </aside>
        <!-- /#left-panel -->
        <!-- Right Panel -->
        <div id="right-panel" class="right-panel">
            <!-- Header-->
            <header id="header" class="header">
                <div class="top-left">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="./"><img
                                src="images/logo1.jpg" alt="Logo"></a>
                        <a id="menuToggle" class="menutoggle"><i class="fa
                                fa-bars"></i></a>
                    </div>
                </div>
                <div class="top-right">
                    <div class="header-menu">
                        <div class="header-left" style="padding-top: 10px;">
                            <h5 style="font-weight: bold;"><%=nameHR%></h5>
                            <p><%=idHR%></p>
                        </div>

                        <div class="user-area dropdown float-right">
                            <a href="#" class="dropdown-toggle active"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <img class="user-avatar rounded-circle"
                                    src="images/admin.jpg" alt="User Avatar">
                            </a>

                            <div class="user-menu dropdown-menu">
                                <a class="nav-link" href="/My_Profile"><i class="fa fa-
                                        user"></i>My Profile</a>
                                <form action="/logout" method="POST">
                                    <button type="submit" style="border: none;background: none;font-size: 15px;padding-left: 12px;">
                                        <i class="fa fa-power -off"></i>Logout
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
            <!-- /#header -->

            <!-- Content -->
            <div class="content">
                <!-- Animated -->
                <div class="animated fadeIn">
                    <!--Title-->
                    <div class="title-Date">
                        <div class="row">
                            <div class="title col-12 col-md-6">
                                <p> HR DASHBOARD<span> Here are your important
                                        tasks, updates and alerts.</span></p>
                            </div>
                            <div class="Date col-12 col-md-6 d-flex
                                justify-content-end">
                                <p id="digital-clock" style="color: black;"></p>
                            </div>
                        </div>
                    </div>
                    <!--/#Title-->
                    <!--News-->
                    <div class="News">
                        <div class="close-btn">
                            <button id="close-news"><i class="fas
                                    fa-times-circle"></i></button>
                        </div>
                        <div class="row">
                            <div class="col-4 col-md-2 card-image">
                                <img src="./images/banner.jpg"
                                    class="img-fluid">
                            </div>
                            <div class="col-7 text">
                                <%if(title == null){%>
                                    <h4>
                                        No Title Yet
                                    </h4>
                                    <p>
                                        No Description Yet
                                    </p>
                                    <%}%>   
                                    <%if(title != null){%>
                                        <h4><%= title.titleOfNews %></h4>
                                            <p><%= title.description %></p>
                                    <%}%>
                            </div>
                        </div>
                    </div>
                    <!--/#News-->
                    <!-- Widgets  -->
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-1">
                                            <i class="pe-7s-cash font-3xl"></i>
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text"><span
                                                        class="count">500</span></div>
                                                <div class="stat-heading">My
                                                    Salary</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-3">
                                            <i class="pe-7s-browser font-3xl"></i>
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text"><span
                                                        class="count">24</span></div>
                                                <div class="stat-heading">Working
                                                    days </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-4">
                                            <i class="pe-7s-users font-3xl"></i>
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text"><span
                                                        class="count"><%= counts + 1 %> </span></div>
                                                <div class="stat-heading">Total
                                                    employees</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Widgets -->
                    <!--  Deatails  -->
                    <div class="row">
                        <div class="col-md-6 col-12 timing-details">
                            <div class="card">
                                <div class="card-body">
                                    <div class="title">
                                        <p>Timing Details</p>
                                    </div>
                                    <div class="start-break">
                                        <button>Start break</button>
                                    </div>
                                    <div class="progress-day">
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="70"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 70%;"></div>
                                        </div>
                                        <p>Duration: 9.00 Hrs</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="50"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 20%;"></div>
                                        </div>
                                        <p>Break: 60 Min</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="attendance-details">
                                        <span>Attendance Details</span>
                                        <i class="fas fa-question-circle
                                            float-right"></i>
                                    </div>
                                    <div class="me">
                                        <i class="fas fa-user-circle"></i>
                                        <span class="mee">Me</span>
                                        <span class="float-right hrs"
                                            style="padding-left: 14px;">
                                            5:00 hrs <span style="color:
                                                #6c7293;font-size: 12px;">(AVG
                                                HRS/DAY)</span>
                                        </span>
                                        <span class="float-right hrs">
                                            5:00 hrs <span style="color:
                                                #6c7293;font-size: 12px;">(ON
                                                TIME ARRIVAL)</span>
                                        </span>
                                    </div>
                                    <div class="border-details"></div>
                                    <div class="me second">
                                        <i class="fas fa-users"></i>
                                        <span class="mee">My Team</span>
                                        <span class="float-right hrs"
                                            style="padding-left: 14px;">
                                            5:00 hrs <span style="color:
                                                #6c7293;font-size: 12px;">(AVG
                                                HRS/DAY)</span>
                                        </span>
                                        <span class="float-right hrs">
                                            5:00 hrs <span style="color:
                                                #6c7293;font-size: 12px;">(ON
                                                TIME ARRIVAL)</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  /Traffic -->
                    <div class="clearfix"></div>
                    <!-- Orders -->
                    <div class="orders Interviews">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="box-title">Interviews</h4>
                                        <button data-placement="top" title="Edit , Add" data-toggle="modal" data-target="#model1"><i class="fas fa-ellipsis-v"></i></button>
                                    </div>
                                    <div class="card-body--">
                                        <div class="table-stats order-table
                                            ov-h">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="serial">#</th>
                                                        <th>Candidate</th>
                                                        <th>Schedule</th>
                                                        <th>Time / Date</th>
                                                        <th >Reminder</th>
                                                        <th>Status</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%let countInterview=1 %>
                                                    <% for(let inter of interview){%>
                                                    <tr>
                                                        <td class="serial"><%= countInterview %>.</td>
                                                        <td> <span class="name"><%= inter.candidate %></span></td>
                                                        <td> <span class="product"><%= inter.schedule %> </span></td>
                                                        <td><%= inter.time %>  | <%= inter.date %> </td>
                                                        <td class="reminder"><span class="badge badge-reminder">Send Reminder</span></td>
                                                        <% let date11 = new Date(inter.date+':'+inter.time);
                                                            let date22 = new Date();
                                                            let diff1 = date22 - date11;
                                                            %> 
                                                        <td>
                                                            <% if(diff1<0) {%>
                                                            <span class="badge badge-pending">PENDING</span> <% } %>
                                                            <% if(diff1>0) {%>
                                                            <span class="badge badge-complete">COMPLETE</span> <% } %>
                                                        </td>
                                                        <td>
                                                        <form action="/HR" method="POST">
                                                            <button type="submit" data-toggle="modal" data-target="#updateInterviewModal"
                                                            class="fas fa-edit" style="font-size: 20px;background: none;border: none;" onclick="updateButtonValueInterview(this)" value="<%= inter._id %>"></button>
                                                            &nbsp
                                                            <button type="submit" data-toggle="modal" data-target="#update-modal1-hr"
                                                            class="fas fa-trash-alt " style="font-size: 20px;background: none;border: none;" name="deleteInterview" onclick="deleteButtonValueInterview(this)" value="<%= inter._id %>"></button>
                                                        </form>
                                                        </td>
                                                    </tr>
                                                    <% countInterview=countInterview+1 %> 
                                                    <% } %> 
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-stats -->
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="orders Interviews">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="box-title">Meeting</h4>
                                        <button data-placement="top" title="Edit , Add" data-toggle="modal" data-target="#modal2"><i class="fas fa-ellipsis-v"></i></button>
                                    </div>
                                    <div class="card-body--">
                                        <div class="table-stats order-table
                                            ov-h">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="serial">#</th>
                                                        <th>Time/Date</th>
                                                        <th>Place</th>
                                                        <th>Title</th>
                                                        <th>Status</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <div id="meetingDiv">       
                                                    <%let count=1 %>
                                                    <% for(let meet of meeting) {%>
                                                    <tr>
                                                        <td class="serial"><%=count%>.</td>
                                                        <td><%=meet.time %>&nbsp/&nbsp<%=meet.date%></td>
                                                        <td><%=meet.place%></td>
                                                        <td> <span class="product"><%=meet.title%></span></td>
                                                        <td>
                                                            <% let date1 = new Date(meet.date+':'+meet.time);
                                                            let date2 = new Date();
                                                            let diff = date2 - date1;
                                                            %> 
                                                            <% if(diff<0) {%>
                                                                <span class="badge
                                                                    badge-pending">PENDING</span>
                                                                    <%}%>
                                                                <% if(diff>0) {%> 
                                                                    <span class="badge
                                                                    badge-complete">COMPLETE</span>
                                                                    <%}%>
                                                        </td>
                                                        <td>
                                                            <form action="/HR" method="POST">
                                                                <button type="submit" data-toggle="modal" data-target="#update-modal1-manager" class="fas fa-edit" style="font-size: 20px;background: none;border: none;" onclick="updateButtonValueMeeting(this)" name="updateMeetingButton" value="<%=meet._id%>"></button>
                                                                &nbsp
                                                                <button 
                                                                    type="submit" data-toggle="modal" data-target="#delete-modal1-hr"
                                                                    class="fas fa-trash-alt " style="font-size: 20px;background: none;border: none;" name="deleteMeetingButton" onclick="deleteButtonValueMeeting(this)"  value="<%=meet._id%>"></button>
                                                                </form>
                                                            </td>
                                                    </tr>
                                                    <%count=count+1%>
                                                    <%}%>
                                                </div>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-stats -->
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <!-- Orders -->
                    <div class="orders">
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="box-title">Tasks </h4>
                                    </div>
                                    <div class="card-body--">
                                        <div class="table-stats order-table
                                            ov-h">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="serial">#</th>
                                                        <th class="avatar">Avatar</th>
                                                        <th>ID</th>
                                                        <th>Name</th>
                                                        <th>Task</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% let countTask = 1 %> 
                                                    <% for(let i of taskhr){ %>
                                                        <tr>
                                                        <td><%= countTask++ %>. </td>
                                                        <td class="avatar">
                                                            <div
                                                                class="round-img">
                                                                <a href="#"><img
                                                                        class="rounded-circle"
                                                                        src="images/avatar/2.jpg"
                                                                        alt=""></a>
                                                            </div>
                                                        </td>
                                                        <td><%= i.empId %> </td>
                                                        <td><%= i.name %> </td>
                                                        <td><%= i.taskTitle %> </td>
                                                        <td>
                                                            <% if(i.sendFile != "null"){ %> 
                                                                <span class="badge badge-complete">Submission</span>
                                                                <% } %> 
                                                            <% if(i.sendFile === "null") {%> 
                                                                <span class="badge badge-pending">Pending</span>
                                                                <% } %> 
                                                        </td>
                                                    </tr>
                                                    <% } %> 
                                                
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-stats -->
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col-lg-8 -->
                            <div class="col-md-12 col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="box-title">Calender</h4>
                                        <hr>
                                        <div class="calendar">
                                            <div class="header">
                                                <a data-action="prev-month" href="javascript:void(0)" title="Previous Month"><i></i></a>
                                                <div class="text" data-render="month-year"></div>
                                                <a data-action="next-month" href="javascript:void(0)" title="Next Month"><i></i></a>
                                            </div>
                                            <div class="months" data-flow="left">
                                                <div class="month month-a">
                                                <div class="render render-a"></div>
                                                </div>
                                                <div class="month month-b">
                                                <div class="render render-b"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card -->

                            </div>
                        </div>
                    </div>

                    <!-- /.orders -->
                    <!-- To Do and Live Chat -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title box-title">My Notes</h4>
                                    <button data-toggle="modal" data-target="#Add-Note" data-placement="top" title="Add"><i class="fas  fa-ellipsis-v"></i></button>
                                    <div class="card-content">
                                        <div class="todo-list">
                                            <div class="tdl-holder">
                                                <div class="tdl-content">
                                                    <ul>
                                                        <% for(let no of note){ %>
                                                            <form action="/hr" method="POST">
                                                            <li><label>
                                                                <input type="checkbox"><i
                                                                    class="check-box"></i><span><%= no.note %> </span>
                                                                    <button
                                                                    type="submit"
                                                                    class="fa
                                                                    fa-times"
                                                                    style="background:
                                                                    none;border:
                                                                    none;top:
                                                                    20px;font-size:
                                                                    15px;"
                                                                    name="deleteNote"
                                                                    value="<%=no._id%>"></button>
                                                                <button
                                                                    type="button"
                                                                    class="far
                                                                    fa-edit"
                                                                    data-toggle="modal"
                                                                    data-target="#Update-Note"
                                                                    style="background:
                                                                    none;border:
                                                                    none;
                                                                    right:
                                                                    35px;top:
                                                                    20px;font-size:
                                                                    15px"
                                                                    name="updateNote"
                                                                    onclick="updateButtonValue(this)"
                                                                    value="<%= no._id%>"
                                                                    ></button>
                                                                </form>
                                                            </label></li>
                                                        <% } %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.todo-list -->
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title box-title">Live Chat</h4>
                                    <div class="card-content">
                                        <div class="messenger-box">
                                            <ul>
                                                <li>
                                                    <div class="msg-received
                                                        msg-container">
                                                        <div class="avatar">
                                                            <img
                                                                src="images/avatar/64-1.jpg"
                                                                alt="">
                                                            <div
                                                                class="send-time">11.11
                                                                am</div>
                                                        </div>
                                                        <div class="msg-box">
                                                            <div
                                                                class="inner-box">
                                                                <div
                                                                    class="name">
                                                                    John Doe
                                                                </div>
                                                                <div
                                                                    class="meg">
                                                                    Lorem ipsum
                                                                    dolor sit
                                                                    amet,
                                                                    consectetur
                                                                    adipisicing
                                                                    elit.
                                                                    Perspiciatis
                                                                    sunt placeat
                                                                    velit ad
                                                                    reiciendis
                                                                    ipsam
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.msg-received -->
                                                </li>
                                                <li>
                                                    <div class="msg-sent
                                                        msg-container">
                                                        <div class="avatar">
                                                            <img
                                                                src="images/avatar/64-2.jpg"
                                                                alt="">
                                                            <div
                                                                class="send-time">11.11
                                                                am</div>
                                                        </div>
                                                        <div class="msg-box">
                                                            <div
                                                                class="inner-box">
                                                                <div
                                                                    class="name">
                                                                    John Doe
                                                                </div>
                                                                <div
                                                                    class="meg">
                                                                    Hay how are
                                                                    you doing?
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.msg-sent -->
                                                </li>
                                            </ul>
                                            <div class="send-mgs">
                                                <div class="yourmsg">
                                                    <input class="form-control"
                                                        type="text">
                                                </div>
                                                <button class="btn
                                                    msg-send-btn">
                                                    <i
                                                        class="pe-7s-paper-plane"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- /.messenger-box -->
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <!-- /To Do and Live Chat -->

                    <!-- Modal - Calendar - Add New Event -->
                    <!-- Button trigger modal -->
                    
                    <!-- Modal Interveiws -->
                    <div class="interview-Event">
                        <div class="modal fade" id="model1" tabindex="-1"
                            role="dialog" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="exampleModalLabel">Add Interviews</h5>
                                        <button type="button" class="close"
                                            data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="/HR" method="POST">
                                    <div class="modal-body">
                                        <label for="candidate">candidate</label>
                                        <input type="text" class="form-control" name="candidate">
                                        <label for="schedule">Schedule</label>
                                        <input type="text" class="form-control" name="schedule">
                                        <label for="Time">Time</label>
                                        <input type="time" class="form-control" name="Time">
                                        <label for="Date">Date</label>
                                        <input type="Date" class="form-control" name="Date">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn
                                            btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn
                                            btn-primary" name="addInterview">Save </button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--update interview  -->
                    <div class="interview-Event">
                        <div class="modal fade" id="updateInterviewModal" tabindex="-1"
                            role="dialog" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="exampleModalLabel">Edit Interviews</h5>
                                        <button type="button" class="close"
                                            data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="/HR" method="POST">
                                    <div class="modal-body">
                                        <label for="candidate">candidate</label>
                                        <input type="text" class="form-control" name="updateCandidate">
                                        <label for="schedule">Schedule</label>
                                        <input type="text" class="form-control" name="updateSchedule">
                                        <label for="Time">Time</label>
                                        <input type="time" class="form-control" name="updateTime">
                                        <label for="Date">Date</label>
                                        <input type="Date" class="form-control" name="updateDate">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn
                                            btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn
                                            btn-primary" id="saveUpdateButtonInterviewHr" name="saveUpdateButtonInterviewHr">Save changes</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Interveiws -->

                    <!-- Modal Meeting -->
                    <div class="interview-Event">
                        <div class="modal fade" id="modal2" tabindex="-1"
                            role="dialog" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="exampleModalLabel">Add Meeting</h5>
                                        <button type="button" class="close"
                                            data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="/Hr" method="POST">
                                    <div class="modal-body">
                                        
                                        
                                        <label for="place">Title</label>
                                        <input type="text" class="form-control" name="title">
                                        <label for="title">Place</label>
                                        <input type="text" class="form-control" name="place">
                                        <label for="time">Time</label>
                                        <input type="time" class="form-control" data-format="hh:mm A" name="time">
                                        <label for="date">Date</label>
                                        <input type="Date" class="form-control" name="date">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn
                                            btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn
                                            btn-primary" id="btnmeet" >Save </button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Meeting -->
                    <!-- update meeting -->
                    <div class="interview-Event">
                        <div class="modal fade" id="update-modal1-manager" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> Edit Meeting </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <form action="/HR" method="POST">
                                    <div class="modal-body">
                                        <label for="Title">Title</label>
                                        <input type="text" class="form-control" name="updateTitleHr">
                                        <label for="Place">Place</label>
                                        <input  type="text" class="form-control" name="updatePlaceHr">
                                        <label for="Time">Time</label>
                                        <input  type="time" class="form-control" name="updateTimeHr">
                                        <label for="Date">Date</label>
                                        <input type="Date" class="form-control" name="updateDateHr">
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="saveUpdateButtonMeetingHr" name="saveUpdateButtonMeetingHr">Save changes</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="interview-Event">
                        <div class="modal fade" id="delete-modal1-hr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content"> 
                                    <div class="modal-header"> 
                                        <h5 class="modal-title" id="exampleModalLabel"> Delete Meeting</h5> 
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                                            <span aria-hidden="true">&times;</span> 
                                        </button> 
                                    </div> 
                                    <form action="/HR" method="POST"> 
                                        <div class="modal-body"> 
                                            <h5 style="font-weight: bold;">Are you sure to delete this Meeting..?</h5> 
                                            </div><div class="modal-footer"> 
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" name="cancelDeleteBtn">Cancel</button> 
                                                <button type="submit" class="btn btn-primary" id="sureDeleteBtnMeeting"  name="sureDeleteBtnMeeting">Sure</button>
                                        </div>
                                    </form>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="interview-Event">
                                        <div class="modal fade" id="update-modal1-hr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content"> 
                                                    <div class="modal-header"> 
                                                        <h5 class="modal-title" id="exampleModalLabel"> Delete Interveiws</h5> 
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                                                            <span aria-hidden="true">&times;</span> 
                                                        </button> 
                                                    </div> 
                                                    <form action="/HR" method="POST"> 
                                                        <div class="modal-body"> 
                                                            <h5 style="font-weight: bold;">Are you sure to delete this Interveiws..?</h5> 
                                                            </div><div class="modal-footer"> 
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" name="cancelDeleteBtn">Cancel</button> 
                                                                <button type="submit" class="btn btn-primary" id="sureDeleteBtnInterview"  name="sureDeleteBtnInterview">Sure</button>
                                                        </div>
                                                    </form>
                                                    </div>
                                                    </div>
                                                    </div>
                                                    </div>
                                                    <div class="interview-Event">
                                                        <div class="modal fade" id="Add-Note" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span  aria-hidden="true">&times;</span>
                                                                        </button> </div> <form action="/hr" method="POST">
                                                                        <div class="modal-body">
                                                                            <label for="Note">Note :</label>
                                                                                <input type="text" class="form-control" name="note">
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                            <button type="submit"  name="saveNote"  class="btn btn-primary"  value="true">Save  </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="interview-Event">
                                                        <div class="modal fade" id="Update-Note" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Update Note</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span  aria-hidden="true">&times;</span>
                                                                        </button> </div> <form action="/hr" method="POST">
                                                                        <div class="modal-body">
                                                                            <label for="Note">Note :</label>
                                                                                <input type="text" class="form-control" name="note">
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                            <button type="submit"  name="updateNote" id="saveNote" class="btn btn-primary"  value="true">Save  changes</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                    <!-- /#event-modal -->
                </div>
                <!-- .animated -->
            </div>
            <!-- /.content -->
            <div class="clearfix"></div>



        </div>
        <!-- /#right-panel -->
        <!-- Scripts -->
        
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
        <script src="../js/dashboard.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/celander.js"></script>
        <script type="text/javascript" src="js/jQuery.js"></script>
        <script type="text/javascript">
        function updateButtonValueMeeting(el){ 
            jQuery('#saveUpdateButtonMeetingHr').val(jQuery(el).val())
        }
        function updateButtonValueInterview(el){ 
            jQuery('#saveUpdateButtonInterviewHr').val(jQuery(el).val())
        }
        function deleteButtonValueInterview(el){ 
            jQuery('#sureDeleteBtnInterview').val(jQuery(el).val())
        }
        function deleteButtonValueMeeting(el){ 
            jQuery('#sureDeleteBtnMeeting').val(jQuery(el).val())
        }
        /* Start Time */
        function getDateTime() {
            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth() + 1;
            var day = now.getDate();
            var hour = now.getHours();
            var minute = now.getMinutes();
            var second = now.getSeconds();
            if (month.toString().length == 1) {
                month = '0' + month;
            }
            if (day.toString().length == 1) {
                day = '0' + day;
            }
            if (hour.toString().length == 1) {
                hour = '0' + hour;
            }
            if (minute.toString().length == 1) {
                minute = '0' + minute;
            }
            if (second.toString().length == 1) {
                second = '0' + second;
            }
            var dateTime = 'Date : ' + day + '/' + month + '/' + year + '   ' + ' - ' + ' Time : ' + hour + ':' + minute + ':' + second;
            return dateTime;
        }

        // example usage: realtime clock
        setInterval(function() {
            currentTime = getDateTime();
            document.getElementById("digital-clock").innerHTML = currentTime;
        });
        /* End Time */
        function updateButtonValue(el){
                console.log(jQuery(el).val());
                jQuery('#saveNote').val(jQuery(el).val())
        }
        </script>
    </body>
</html>
